<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=0">

    <title>百度新闻首页</title>
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/clientstyle.css">
</head>
<body>
<div class="wrap">
    <!-- 顶部用户区域 -->
    <header>
        <div id="main-btn"></div>
        <div id="user-btn"></div>
        <div id="more-btn"></div>
        <div id="search-btn"></div>
    </header>
    <!-- 导航区域 -->
    <nav>
        <div class="div_line"></div>
        <ul>
            <li class="news_taglist"><a class="active" href="#">推荐</a></li>
            <li class="news_taglist"><a href="#">百家</a></li>
            <li class="news_taglist"><a href="#">本地</a></li>
            <li class="news_taglist"><a href="#">图片</a></li>
            <li class="news_taglist"><a href="#">娱乐</a></li>
            <li class="news_taglist"><a href="#">社会</a></li>
            <li class="news_taglist"><a href="#">军事</a></li>
            <li class="news_taglist"><a href="#">女人</a></li>
            <li class="news_taglist"><a href="#">搞笑</a></li>
            <li class="news_taglist"><a href="#">更多</a></li>
        </ul>
    </nav>
    <!-- 新闻列表区域 -->
    <article>
        <ul>
            <!--动态添加-->
        </ul>
    </article>
</div>


<script type="text/javascript" src="jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="js/client/app.js"></script>
</body>

</html>
